{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Filmographie</title>

    <link rel="stylesheet" href="{% static 'seefilm/style.css' %}">
</head>

<body>

<nav>
    <span class="brand">🎬 Filmographie</span>

    <a href="{% url 'seeacteurs' %}">Acteurs</a>
    <a href="{% url 'seecategories' %}">Catégories</a>
    <a href="{% url 'seefilms' %}">Films</a>
    <a href="{% url 'seecommentaires' %}">Commentaires</a>
</nav>

<header class="hero">
    <h1>Bienvenue sur Filmographie 🎬</h1>
    <p>Explore les films, acteurs et commentaires</p>
</header>



<section class="film-section">
    <h2>🎬 Films ajoutés</h2>

    <div class="film-grid">

        {% for f in films %}
        <div class="film-card">


            {% if f.affiche %}
                <img src="{{ f.affiche.url }}" alt="{{ f.titre }}">
            {% else %}
                <div class="no-image">Pas d'affiche</div>
            {% endif %}

            <h3>{{ f.titre }}</h3>

            <p><strong>Acteurs :</strong></p>
            <ul>
                {% for a in f.acteurs.all %}
                    <li>{{ a.nomAct }} {{ a.prenomAct }}</li>
                {% empty %}
                    <li>Aucun acteur</li>
                {% endfor %}
            </ul>

        </div>
        {% empty %}
            <p>Aucun film disponible</p>
        {% endfor %}

    </div>
</section>


<footer>
    &copy; 2025 Filmographie — SAE 2.03
</footer>

</body>
</html>