{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Commentaires</title>

    <link rel="stylesheet" href="{% static 'seefilm/style.css' %}">
</head>

<body>

<h1>Commentaires</h1>

<a href="/commentaireajout/">➕ Ajouter un commentaire</a>

<ul>
    {% for c in liste_commentaire %}
        <li>
            {{ c.contenu }}

            <a href="/commentaireaffiche/{{ c.idcommentaires }}/">read</a>
            <a href="/commentaireupdate/{{ c.idcommentaires }}/">update</a>
            <a href="/commentairedelete/{{ c.idcommentaires }}/">delete</a>
        </li>
    {% empty %}
        <li>Aucun commentaire disponible</li>
    {% endfor %}
</ul>
<a href="/">🏠Retourner à l'accueil🏠</a>
</body>
</html>