<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commentaires</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
	<form action="/seefilm/films/" method="GET">
			<label FOR "name">Nom du film :</label>
			<input TYPE="text" ID="nom" NAME="Nom du film">
        #il faut un menu déroulant

            <label FOR "commentaires">Commentaires:</label>
            <input TYPE="text" ID="commentaires" NAME="Commentaires">



			<input type="submit" value="Poster mon commentaire"
	</form>
</body>
</html>